# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# Virtual Environment
venv/
env/
.venv/
.env/

# Environment Files
*.env
*.env.*
.envrc

# Flask & Cache
instance/
.cache/
.pytest_cache/

# SQLite DB
*.sqlite
*.sqlite3
*.db

# VS Code
.vscode/
*.code-workspace

# OS Files
.DS_Store
Thumbs.db

# Pip freeze file
pip-wheel-metadata/

# Coverage / Test
htmlcov/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
